In [1]:
import  pandas as pd
import re
from datetime import datetime

C:\Users\santh\AppData\Local\Temp\ipykernel_40892\1148153480.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import  pandas as pd

In [2]:
df = pd.read_csv("Data/cleaned_dataset/metadata_excel.csv")
df.head()

,type,start_time,ambient_temperature,battery_id,test_id,uid,filename,Capacity,Re,Rct,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,discharge,[2010. 7. 21. 15. 0. ...,4,B0047,0,1,00001.csv,1.674304745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,impedance,[2010. 7. 21. 16. 53. ...,24,B0047,1,2,00002.csv,NaN,0.056057833,0.200970166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,charge,[2010. 7. 21. 17. 25. ...,4,B0047,2,3,00003.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,impedance,[2010 7 21 20 31 5],24,B0047,3,4,00004.csv,NaN,0.053191859,0.164733999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,discharge,[2.0100e+03 7.0000e+00 2.1000e+01 2.1000e+01 2...,4,B0047,4,5,00005.csv,1.524366211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Function to convert string to datetime object
def convert_to_datetime(input_string):
    components = input_string.strip('[]').split(' ')
    components = re.split(r'\s+', input_string.strip('[]'))
    components = [float(component) if '.' in component else int(component) for component in components]
    return datetime(*map(int, components))

# Apply the function to the 'start_time' column
df['start_time'] = df['start_time'].apply(convert_to_datetime)

# df.to_excel('timestamp_updated.xlsx')

In [4]:
df['battery_id']

,type,start_time,ambient_temperature,battery_id,test_id,uid,filename,Capacity,Re,Rct,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,discharge,2010-07-21 15:00:35,4,B0047,0,1,00001.csv,1.674304745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,impedance,2010-07-21 16:53:45,24,B0047,1,2,00002.csv,NaN,0.056057833,0.200970166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,charge,2010-07-21 17:25:40,4,B0047,2,3,00003.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,impedance,2010-07-21 20:31:05,24,B0047,3,4,00004.csv,NaN,0.053191859,0.164733999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,discharge,2010-07-21 21:02:56,4,B0047,4,5,00005.csv,1.524366211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7560,impedance,2010-09-30 07:36:45,24,B0055,247,7561,07561.csv,NaN,0.096808798,0.154897382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7561,discharge,2010-09-30 08:08:36,4,B0055,248,7562,07562.csv,1.020138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7562,charge,2010-09-30 08:48:54,4,B0055,249,7563,07563.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7563,discharge,2010-09-30 11:50:17,4,B0055,250,7564,07564.csv,0.990759166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7564,charge,2010-09-30 12:31:10,4,B0055,251,7565,07565.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
git l